@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: black;
  margin: 0 auto;
  max-width: 1200px;
  color: white;
  font-family: Montserrat;
}

header {
  background-image: url("assets/blueDiamond.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: 20% 40% 10% 10% 20%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  grid-column-start: 5;
  grid-column-end: 5;
  font-size: 24px;
  margin-right: 150px;
  margin-top: 30px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #67074E;
}

header img {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-left: 50px;
  width: 100%;
}

.gallery {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 250px 150px;
  margin-bottom: 30px;
}

.gallery figure, 
.gallery img {
  width: 100%;
  height: 100%;
  margin: 0;
}

.gallery img {
  display: block;
  object-fit: cover;
}

.gallery img:hover {
  border: 3px solid #07828f;
}

.gallery figure {
  position: relative;
} 
  
  .gallery :first-child {
    grid-area: 1 span / 2 span;
  }

  .gallery :nth-child(2n) {
    grid-area: 1 span;
  }

  .gallery :nth-child(3n) {
      grid-area: 1 span;
    }

    .gallery :nth-child(4n) {
      grid-area: 1 span;
    }

    .gallery :nth-child(5n) {
      grid-area: 1 span / 2 span;
    }

    .gallery :nth-child(6n) {
      grid-area: 1 span;
    }

    .gallery :nth-child(7n) {
      grid-area: 1 span;
    }

    .gallery :nth-child(8n) {
      grid-area: 1 span / 2 span;
    }

    .gallery :nth-child(9n) {
      grid-area: 1 span;
    }

    .gallery :nth-child(10n) {
      grid-area: 1 span;
    }

    .gallery :nth-child(11n) {
      grid-area: 2 span;
    }

    .gallery :nth-child(12n) {
      grid-area: 2 span / 2 span;
    }

    .gallery :nth-child(13n) {
      grid-area: 1 span;
    }

    .gallery :nth-child(14n) {
      grid-area: 1 span / 2 span;
    }

    .gallery :nth-child(15n) {
      grid-area: 1 span;
    }

    .gallery :nth-child(16n) {
      grid-area: 1 span;
    }

    .gallery :nth-child(17n) {
      grid-area: 2 span / 2 span;
    }

    .gallery :nth-child(18n) {
      grid-area: 1 span;
    }

    .gallery :nth-child(19n) {
      grid-area: 1 span;
    }

    .gallery :nth-child(20n) {
      grid-area: 2 span / 2 span;
    }

    .gallery :nth-child(21n) {
      grid-area: 2 span / 1 span;
    }

    .gallery :nth-child(22n) {
      grid-area: 1 span;
    }
  
    .gallery :nth-child(23n) {
        grid-area: 1 span;
      }
  
      .gallery :nth-child(24n) {
        grid-area: 2 span / 2 span;
      }
  
      .gallery :nth-child(25n) {
        grid-area: 1 span;
      }

    .gallery :nth-child(26n) {
      grid-area: 1 span;
    }

    .gallery :nth-child(27n) {
      grid-area: 2 span;
    }
  
    .gallery :nth-child(28n) {
        grid-area: 2 span;
      }
  
      .gallery :nth-child(29n) {
        grid-area: 1 span;
      }
  
      .gallery :nth-child(30n) {
        grid-area: 1 span;
      }

      .gallery :nth-child(31n) {
        grid-area: 1 span;
      }

      .gallery :nth-child(32n) {
        grid-area: 1 span;
      }
    
footer {
  margin-top: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url("assets/whiteDiamond.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

footer img {
  width: 10%;
  margin: 50px;
}

footer h2 {
  font-weight: normal;
  font-style: italic;
  color: #67074e;
  margin-top: 80px;
  margin-left: 10px;
}

footer p {
  margin-left: 15px;
  font-size: 10px;
}

footer .media {
  margin-top: 35px;
  margin-right: 50px;
}

footer .media p {
  font-size: 24px;
  text-align: center;
  margin-right: 10px;
}

footer svg {
  height: 30px;
}