@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: black;
  margin: 0 auto;
  max-width: 1200px;
  color: white;
  font-family: Montserrat;
}

header {
  background-image: url("https://i.imgur.com/YNyR7mQ.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: 20% 40% 10% 10% 20%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  font-size: 24px;
  margin-left: 150px;
  margin-top: 30px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #67074e;
}

header img {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-left: 50px;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  gap: 5%;
  margin: 0 auto;
  max-width: 1000px;
}

main img {
  margin: 0 0 5% 0;
  width: 100%;
  border-radius: 10px;
}

.style {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  background: #67074e;
  font-size: 2vw;
  width: 50%;
  margin: 0 auto;
  text-decoration: none;
  padding: 4%;
  border-radius: 5px;
}

.style:hover {
  color: white;
  background: #07828f;
}

.project {
  display: flex;
  flex-direction: column;
}

/* .color {
  background: #07828f;
  border-radius: 0 20px 20px 0;
} */

footer {
  margin-top: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url("  https://i.imgur.com/ksqRtKN.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

footer img {
  width: 10%;
  margin: 50px;
}

footer h2 {
  font-weight: normal;
  font-style: italic;
  color: #67074e;
  margin-top: 80px;
  margin-left: 10px;
}

footer p {
  margin-left: 15px;
  font-size: 10px;
}

footer .media {
  margin-top: 35px;
  margin-right: 50px;
}

footer .media p {
  font-size: 24px;
  text-align: center;
  margin-right: 10px;
}

footer svg {
  height: 30px;
}